body{
    margin-left: 200px;
    margin-right: 200px;
}
h5{
    color: brown;
    margin: 10px;
}
.res_header{
    text-align: center;
}
table, th ,td{
    border: 1px solid rgb(12, 12, 31);
   /* mask-border-width: 10px; */
   /* height: 20px; */
   min-width: 100%;
   background-color: aquamarine;
}
table{
    border-collapse:collapse ;
    /* border-color: brown; */
    
}
th{
    
    /* padding: 5px;
    width: 10px; */
    /* background-color: aqua; */
    text-transform: uppercase;
    text-align: center;
    /* text-decoration: underline red; */
    
}
td{
    padding: 5px;
    background-color: khaki;
    color: rgb(0, 0, 0);
    /* background-color: aquamarine ; */
}

